@model IEnumerable<GymApp14V1.Core.ViewModels.MemberViewModel>




@if (User.Identity.IsAuthenticated) {

    @if (User.IsInRole(ClientArgs.ADMIN_ROLE))
    {
        <p>
            <a asp-controller="GymClass" asp-action="Create">Add Gym Class</a>
        </p>
    }
    else {
        <p>
            <a asp-controller="GymClass" asp-action="Booking">join GymClass</a>
        </p>
    }


    <p class="text-primary fw-bold"> Number of Gym classes: @Model.Count()</p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (User?.Identity?.Name?.ToLower() == item.Email || User.IsInRole(ClientArgs.ADMIN_ROLE))
                {
                    var isCurrent = User.Identity.Name.Equals(item.Email, StringComparison.OrdinalIgnoreCase);

                    <tr class="@(isCurrent ? "text-primart fw-bold bg-light" : "")">
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>

                        <td>
                            <a class="btn @(isCurrent ? "btn-danger" : "btn-primary") btn-custom" asp-controller="Member" asp-action="MemberEdit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn @(isCurrent ? "btn-danger" : "btn-primary") btn-custom" asp-controller="Member" asp-action="MemberDetails" asp-route-id="@item.Id">Details</a>
                            <a class="btn @(isCurrent ? "btn-danger" : "btn-primary") btn-custom" asp-controller="Member" asp-action="MemberDelete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}



